body {
  background-color: #dfdbe5;
  background-image: url("https://images.unsplash.com/photo-1556637641-0ac7101023f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
  display: flex;
  justify-content: space-around;
  padding: 33px;
}
#output{
  background-color: #dfdbe5;

}
#begin{
  background-color: goldenrod;

}

body * {
  font-size: 24px !important;
}

.choices {
  display: flex;
  margin: 1rem 0;
}

.food {
  width: 120px;
  height: 50px;
  z-index: 1;
}

#bottomBun{
position: relative;
top: 600px;
right: 130px;
z-index: 0;
}

.top-bun {
  background: url("../img/splash.png") -7px -20px;
}

.bottom-bun {
  background: url("../img/splash.png") -435px -270px;
  position: absolute;
  z-index: -1;

}

.beef {
  background: url("../img/splash.png") -7px -137px;
  
}

.chicken {
  background: url("../img/splash.png") -300px -263px;
}

.vegetarian {
  background: url("../img/splash.png") -300px -207px;
}

.ketchup {
  background: url("../img/splash.png") -150px -10px;
}

.mustard {
  background: url("../img/splash.png") -300px -10px;
}

.cheese {
  background: url("../img/splash.png") -150px -207px;
}

.lettuce {
  background: url("../img/splash.png") -150px -60px;
}

.tomato {
  background: url("../img/splash.png") -150px -157px;
}

.pickles {
  background: url("../img/splash.png") -10px -200px;
}

main {
  border: 2px dotted green;
  width: 200px;
  position: relative;
}

main .food {
  position: absolute;
}

section {
  border: 2px solid red;
  width: 400px;
}
